/* All Users */

:root {
    --dark-grey-color: hsl(0, 5%, 12%);
    --grey-color: #343030;
    --button-color: #33970c;
    --button-color-hover: #45ca11;
}

.users-title {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background-color: rgb(199, 82, 9);
}

.users-list {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    border: solid #FFF;
    padding: 13px 0 0 0;
}

.button-div {
    margin: 30px 20px 20px 20px;
    text-align: left;
}

.create-user-button {
    padding: 20px 30px;
    background-color: var(--button-color);
    color: #FFF;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

.create-user-button:hover {
    transition: 500ms;
    background-color: var(--button-color-hover);
    cursor: pointer;
    
}

.users-list-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.users-list-label {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 40px 0;
}

.user-name,
.user-email {
    font-size: 25px; 
    background-color: var(--dark-grey-color);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

/* Create user page*/
.create-user-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 28%;
    margin-top: 50px;
    padding: 20px;
    border: solid #201d1d;
}

.create-user-form-label {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.user-form-input {
    font-size: 20px;
    padding: 15px;
    margin: 5px 0 0 0;
    color: #FFF;
    background-color: var(--grey-color);
    border-color: transparent;
    }

.user-form-input:focus {
    border-color: transparent;
}

.create-user-form-button-div {
    text-align: right;
    margin-top: 30px;
}