/* All Users */

.users-title {
    padding: 30px;
    font-size: 30px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    background-color: #323131;
}

.users-list {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.button-div {
    margin: 20px;
    text-align: center;
}

.create-user-button {
    padding: 20px 30px;
    background-color: rgb(230, 115, 44);
    color: #FFF;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
}

.users-list-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users-list-label {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.user-name {
    font-size: 20px; 
    margin: 0 10px 0 0;
}

.user-email {
    font-size: 20px;
}

/* Create user */
.create-user-form-button-div {
    text-align: center;
}

.create-user-form-button {
    margin: 10px;
    padding: 20px;
    background-color: rgb(230, 115, 44);
    color: #FFF;
    font-size: 23px;
    font-weight: bold;
}